venv/
data/
ML/DemandForecasting/models/
ML/DemandForecasting/results/
ML/inventory_planning/results/
.streamlit/
.env
.vscode/
Notebook/
__pycache__/
*.pyc
app/
secrets/
ErrorGuide/

# DVC local configuration
.dvc/config

# MLflow local tracking
mlflow.db
mlruns/